
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="#"><img src="assets/APOLLOHOSP.jpg"  height="55" style="border-radius: 10px;margin-right: 10px;" class="logo-image">
            APOLLO HOSPITALS</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-
        target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-
        label="Toggle navigation">
        
        <span class="navbar-toggler-icon"></span>
        </button>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img src="assets/list.jpg" class="card-img-top" style="height: 70%; width: 100%;" alt="List and Details Image">
        <div class="card-body">
          <h5 class="card-title">List and Details</h5>
          <p class="card-text">View a list of items and their details.</p>
          <a href="/Getall" class="btn btn-primary">Go to List</a>
        </div>
      </div>
    </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/insert1.jpg" class="card-img-top"  style="height: 70%; width: 100%;" alt="Insert Image">
          <div class="card-body">
            <h5 class="card-title">Insert</h5>
            <p class="card-text">Insert a new item.</p>
            <a href="/Create" class="btn btn-primary">Go to Insert</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/update.jpg" class="card-img-top"style="height: 70%; width: 100%;" alt="Update Image">
          <div class="card-body">
            <h5 class="card-title">Update</h5>
            <p class="card-text">Update an existing item.</p>
            <a href="/Update" class="btn btn-primary">Go to Update</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/delete1.webp" class="card-img-top"style="height: 70%; width: 100%;"  alt="Delete Image">
          <div class="card-body">
            <h5 class="card-title">Delete</h5>
            <p class="card-text">Delete an existing item.</p>
            <a href="/Delete" class="btn btn-primary">Go to Delete</a>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/count.jpg" class="card-img-top" style="height: 70%; width: 100%;"  alt="Count Image">
          <div class="card-body">
            <h5 class="card-title">Count</h5>
            <p class="card-text">Display the count of patients.</p>
            <a href="/Count" class="btn btn-primary">Go to Count</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
          
          