
<app-appointment-main></app-appointment-main>
<div class="appointments-container">
  <div class="appointment-card" *ngFor="let appointment of filteredAppointments">
    <div class="card-content">
      <p>Appointment ID: {{ appointment.appointment_Id }}</p>
      <p>Patient ID: {{ appointment.patient_Id }}</p>
      <p>Doctor ID: {{ appointment.doctor_Id }}</p>
      <p>Appointment Date: {{ appointment.appointment_Date | date }}</p>
      <button (click)="editAppointment(appointment)" class="edit-button">Edit</button>&nbsp;
<button (click)="confirmDeleteAppointment(appointment)" class="delete-button">Delete</button>

    </div>
  </div>
</div>
