.container {
  max-width: 900px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for spacing */
}

.heading {
  text-align: center;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

.table th {
  background-color: rgb(26, 88, 118);
  padding: 12px;
  text-align: center;
  color: #ffffff; /* Change text color to white */
}

.table td {
  padding: 10px;
  border: 1px solid #86bad1;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e6e6e6;
}

/* Responsive CSS for Doctor List Table */
@media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table thead,
  .table tbody,
  .table th,
  .table td,
  .table tr {
    display: block;
  }

  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tbody tr {
    border-bottom: 1px solid #ddd;
  }

  .table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}

/* Delete and Update Buttons */
.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px; /* Add margin between buttons */
}

.button.delete {
  background-color: #dc3545; /* Red color for delete button */
}

.button.delete:hover {
  background-color: #c82333; /* Darker red color on hover */
}

.button.update {
  background-color: #007bff; /* Blue color for update button */
}

.button.update:hover {
  background-color: #0069d9; /* Darker blue color on hover */
}

/* Styling for Search Textbox and Button */
.input-group {
  margin-bottom: 20px; /* Add some spacing at the bottom of the input group */
}

.input-group .form-control {
  border-top-right-radius: 0; /* Remove border radius from the right side of the textbox */
  border-bottom-right-radius: 0;
}

.input-group-append .btn {
  border-top-left-radius: 0; /* Remove border radius from the left side of the button */
  border-bottom-left-radius: 0;
}
