<div class="container">
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="searchId" class="form-control" placeholder="Enter Doctor Id">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="searchDoctor()">Search</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Doctor ID</th>
        <th>Doctor Name</th>
        <th>Specialization</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of filteredDoctors">
        <td>{{ doctor.doctor_Id }}</td>
        <td>{{ doctor.doctor_Name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>{{ doctor.doctor_No }}</td>
        <td>
          <button class="btn btn-success" (click)="openUpdateForm(doctor)">Update</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteDoctor(doctor)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
