<app-appointment-main></app-appointment-main>
<h3>Update Appointment:</h3>
<label for="appointmentId">Appointment ID:</label>
<input type="number" [(ngModel)]="appointmentId" name="appointmentId" required>
<button class="btn-primary" (click)="getAppointmentById()">Get Appointment</button>

<div *ngIf="appointment">
  <h3>Appointment Details:</h3>
  <p>Patient ID: {{ appointment.patient_Id }}</p>
  <p>Doctor ID: {{ appointment.doctor_Id }}</p>
  <p>Appointment Date: {{ appointment.appointment_Date | date }}</p>

  <h3>Update Appointment:</h3>
  <form>
    <label for="patientId">Patient ID:</label>
    <input type="number" [(ngModel)]="appointment.patient_Id" name="patientId" required>
    <label for="doctorId">Doctor ID:</label>
    <input type="number" [(ngModel)]="appointment.doctor_Id" name="doctorId" required>
    <label for="appointmentDate">Appointment Date:</label>
    <input type="date" [(ngModel)]="appointment.appointment_Date" name="appointmentDate" required>
    <button class="btn-primary" (click)="updateAppointment()">Update Appointment</button>
  </form>
</div>
