<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#"><img src="assets/APOLLOHOSP.jpg" height="55" style="border-radius: 10px;margin-right: 10px;" class="logo-image">APOLLO HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <h1>Doctor Delete</h1>

  <div class="delete-container">
    <input type="text" [(ngModel)]="doctor_Id" placeholder="Enter Doctor ID" class="delete-input">
    <button (click)="deletebyid()" class="delete-button">Delete</button>
  </div>

  <div *ngIf="Doctors" class="result-container">
    <h2 class="result">Doctor ID: {{Doctors.doctor_Id}}</h2>
  </div>
</div>